body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-container {
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/images/grass.png');
    background-size: 15%;
    background-color: #000000c8;
    background-blend-mode: color-burn;
    position: relative;
}

#player {
    position: absolute;
    height: 39px;
    width: 126px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

#upgrade-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1919198a;
    z-index: 999;
    backdrop-filter: blur(3px);
    display: none;
}

#upgrades-tab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    position: absolute;
    top: 15vh;
    left: 20vw;
    width: 60vw;
    height: 70vh;
    background-color: #262626;
    box-shadow: 10px 10px 5px black;
}

#upgrades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    width: 100%;
}

.playerIdle {
    background-image: url('./assets/player/idle.png');
    animation: idle steps(5) 1s infinite;
}

.playerRunning {
    background-image: url('./assets/player/run.png');
    animation: walk steps(8) 0.5s infinite;
}

.playerLeft {
    transform: scaleX(-1);
}

.playerRight {
    transform: scale(1);
}

.coin {
    animation: glow 1.5s infinite;
}

@keyframes walk {
    0% {
        background-position: 0 0;
        filter: drop-shadow(-1px 5px 8px rgba(255, 217, 0, 0.541));
    }
    100% {
        background-position: 0 -312px;
        filter: drop-shadow(-5px 5px 8px rgba(255, 217, 0, 0.541));
    }
}

@keyframes idle {
    0% {
        background-position: 0 0px;
        filter: drop-shadow(-1px 5px 8px rgba(255, 217, 0, 0.541));
    }
    100% {
        background-position: 0 -195px;
        filter: drop-shadow(-5px 5px 8px rgba(255, 217, 0, 0.541));
    }
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 5px gold);
    }
    50% {
        filter: drop-shadow(0 0 15px gold);
    }
    100% {
        filter: drop-shadow(0 0 5px gold);
    }
}

@keyframes area-fade-out {
    0% {
        background-color: #eee;
        opacity: 1;
    }
    100% {
        background-color: #000;
        opacity: 0;
    }
}